# Pandas - Exemplo Motivante

In [1]:
!pip3 install lxml
import pandas as pd

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.1)

Discussão de futebol é coisa séria, e deve estar fundamentada em dados.

https://pt.wikipedia.org/wiki/Resultados_e_estat%C3%ADsticas_do_Campeonato_Brasileiro_de_Futebol

In [0]:
url = 'https://pt.wikipedia.org/wiki/Resultados_e_estat%C3%ADsticas_do_Campeonato_Brasileiro_de_Futebol'
dfs = pd.read_html(url)

In [3]:
type(dfs)

list

In [4]:
len(dfs)

34

Todas as 34 tabelas que o Pandas achou naquele site foram capturadas e armazenadas nessa lista.

Vamos dar uma olhada na primeira (tabela **campeoes**).

In [5]:
dfs[0].head()

,0,1,2,3,4,5
0,Ano,Campeão,Placar(es),Vice,3.º lugar,4.º lugar
1,1959 Detalhes,Bahia,3 – 2 0 – 2 3 – 1,Santos,Grêmio,Vasco da Gama
2,1960 Detalhes,Palmeiras,3 – 1 8 – 2,Fortaleza,Fluminense,Santa Cruz
3,1961 Detalhes,Santos,1 – 1 5 – 1,Bahia,America,Náutico
4,1962 Detalhes,Santos,4 – 3 1 – 3 5 – 0,Botafogo,Internacional,Sport

Precisamos arrumar algumas coisas nessa tabela. Primeiro temos que arrumar o nome das colunas

In [23]:
campeoes = dfs[0].copy()
campeoes.columns = campeoes.iloc[0]
campeoes = campeoes[1:]
campeoes.head()

,Ano,Campeão,Placar(es),Vice,3.º lugar,4.º lugar
1,1959 Detalhes,Bahia,3 – 2 0 – 2 3 – 1,Santos,Grêmio,Vasco da Gama
2,1960 Detalhes,Palmeiras,3 – 1 8 – 2,Fortaleza,Fluminense,Santa Cruz
3,1961 Detalhes,Santos,1 – 1 5 – 1,Bahia,America,Náutico
4,1962 Detalhes,Santos,4 – 3 1 – 3 5 – 0,Botafogo,Internacional,Sport
5,1963 Detalhes,Santos,6 – 0 2 – 0,Bahia,Grêmio,Botafogo

Repare que a coluna ```Ano``` tem alguns problemas (escrito "Detalhes").

Vamos primeiro escrever uma função que arruma um valor (uma ```string```)

In [24]:
def fix_ano(a_string):
    return int(a_string.replace('Detalhes', '')\
                       .replace('[nota 2]', '')\
                       .replace('[nota 4]', '')\
                       .strip())
fix_ano('2018Detalhes[nota 2]')

2018

Então usamos o método ```apply``` que alpica uma função a cada elemento de uma coluna (ou linha)

In [25]:
campeoes['Ano'] = campeoes['Ano'].apply(fix_ano)

0       Campeão         Placar(es)       Vice      3.º lugar      4.º lugar
Ano
1959      Bahia  3 – 2 0 – 2 3 – 1     Santos         Grêmio  Vasco da Gama
1960  Palmeiras        3 – 1 8 – 2  Fortaleza     Fluminense     Santa Cruz
1961     Santos        1 – 1 5 – 1      Bahia        America        Náutico
1962     Santos  4 – 3 1 – 3 5 – 0   Botafogo  Internacional          Sport
1963     Santos        6 – 0 2 – 0      Bahia         Grêmio       Botafogo

Finalmente setamos o índice da tabela como o ano

In [0]:
campeoes = campeoes.set_index('Ano')
campeoes.head()

Repare também que de 2003 para frente virou campeonato de pontos corridos (sem final)

Para filtrar linhas, podemos fazer

In [57]:
campeoes.loc[:2002].tail()

,Campeão,Placar(es),Vice,3.º lugar,4.º lugar
Ano,,,,,
1998,Corinthians,2 – 2 1 – 1 2 – 0,Cruzeiro,Santos,Portuguesa
1999,Corinthians,2 – 3 2 – 0 0 – 0,Atlético Mineiro,Vitória,São Paulo
2000,Vasco da Gama,1 – 1 3 – 1,São Caetano,Cruzeiro,Grêmio
2001,Atlético Paranaense,4 – 2 1 – 0,São Caetano,Fluminense,Atlético Mineiro
2002,Santos,2 – 0 3 – 2,Corinthians,Grêmio,Fluminense

## Quem é o maior campeão?

In [26]:
campeoes['Campeão'].value_counts()

Palmeiras              9
Santos                 8
Corinthians            7
São Paulo              6
Flamengo               5
Fluminense             4
Cruzeiro               4
Vasco da Gama          4
Internacional          3
Bahia                  2
Grêmio                 2
Botafogo               2
Atlético Mineiro       1
Coritiba               1
Guarani                1
Sport                  1
Atlético Paranaense    1
Name: Campeão, dtype: int64

## Quem é o maior vice?

In [27]:
campeoes['Vice'].value_counts()

Santos                 7
São Paulo              6
Internacional          6
Atlético Mineiro       5
Cruzeiro               5
Palmeiras              4
Vasco da Gama          4
Corinthians            3
Grêmio                 3
Botafogo               3
São Caetano            2
Guarani                2
Bahia                  2
Fortaleza              2
Flamengo               1
Portuguesa             1
Náutico                1
Bragantino             1
Atlético Paranaense    1
Vitória                1
Bangu                  1
Name: Vice, dtype: int64

## Quem foi mais vezes para a final?

In [58]:
pd.concat([campeoes.loc[:2002]['Campeão'].value_counts(),
           campeoes.loc[:2002]['Vice'].value_counts()],
         axis=1).sum(axis=1).sort_values(ascending=False)

Santos                 11.0
Palmeiras              11.0
São Paulo               8.0
Vasco da Gama           7.0
Corinthians             6.0
Internacional           6.0
Flamengo                5.0
Botafogo                5.0
Cruzeiro                5.0
Atlético Mineiro        4.0
Bahia                   4.0
Guarani                 3.0
Grêmio                  3.0
Fortaleza               2.0
Fluminense              2.0
São Caetano             2.0
Náutico                 1.0
Coritiba                1.0
Portuguesa              1.0
Bragantino              1.0
Sport                   1.0
Bangu                   1.0
Atlético Paranaense     1.0
Vitória                 1.0
dtype: float64

## Quais as finais mais frequentes (quais times se enfrentado na final)

In [59]:
pd.concat([campeoes.loc[:2002]['Campeão'],
           campeoes.loc[:2002]['Vice']],
         axis=1).apply(lambda x: ' contra '.join(sorted([x['Campeão'], x['Vice']])),
                       axis=1).value_counts().head()

Bahia contra Santos                  3
Flamengo contra Santos               2
Botafogo contra Santos               2
Atlético Mineiro contra São Paulo    2
Cruzeiro contra Internacional        1
dtype: int64

## Quais times aparecem mais vezes entre os 4 primeiros?

In [60]:
campeoes[['Campeão', 'Vice', '3.º lugar', '4.º lugar']].stack().value_counts()

Palmeiras              20
São Paulo              19
Grêmio                 19
Santos                 19
Corinthians            19
Internacional          18
Cruzeiro               18
Atlético Mineiro       17
Fluminense             15
Vasco da Gama          12
Botafogo               11
Flamengo               10
Guarani                 5
Náutico                 5
Bahia                   5
Atlético Paranaense     4
Coritiba                3
São Caetano             3
Vitória                 2
Sport                   2
Portuguesa              2
America                 2
Bragantino              2
Santa Cruz              2
Fortaleza               2
Goiás                   2
Ponte Preta             1
Brasil de Pelotas       1
Londrina                1
Bangu                   1
Ceará                   1
Operário-MS             1
dtype: int64

## Quem é o maior campeão na era dos pontos corridos?

In [62]:
campeoes.loc[2002:]['Campeão'].value_counts()

Corinthians    4
Cruzeiro       3
São Paulo      3
Santos         2
Fluminense     2
Palmeiras      1
Flamengo       1
Name: Campeão, dtype: int64

## Que time marcou mais gol em uma final?

Para isso vamos ter que parsear a coluna "Placar(es)"

In [64]:
campeoes.loc[:2002]['Placar(es)']

Ano
1959                3 – 2 0 – 2 3 – 1
1960                      3 – 1 8 – 2
1961                      1 – 1 5 – 1
1962                4 – 3 1 – 3 5 – 0
1963                      6 – 0 2 – 0
1964                      4 – 1 0 – 0
1965                      5 – 1 1 – 0
1966                      6 – 2 3 – 2
1967                         [nota 3]
1967                3 – 1 1 – 2 2 – 0
1968                         [nota 3]
1968                      2 – 2 4 – 0
1969                         [nota 3]
1970                         [nota 3]
1971                         [nota 5]
1972                            0 – 0
1973                         [nota 3]
1974                            2 – 1
1975                            1 – 0
1976                            2 – 0
1977          0 – 0 (pro) 3 – 2 (pen)
1978                      1 – 0 1 – 0
1979                      2 – 0 2 – 1
1980                      0 – 1 3 – 2
1981                      2 – 1 1 – 0
1982                1 – 1 0 – 0 1 – 0
1983                      1 – 2 3 – 0
1984                      1 – 0 0 – 0
1985          1 – 1 (pro) 6 – 5 (pen)
1986    1 – 1 3 – 3 (pro) 4 – 3 (pen)
1987                      0 – 0 1 – 0
1988                      2 – 1 0 – 0
1989                            1 – 0
1990                      1 – 0 1 – 0
1991                      1 – 0 0 – 0
1992                      3 – 0 2 – 2
1993                      1 – 0 2 – 0
1994                      3 – 1 1 – 1
1995                      2 – 1 1 – 1
1996                      0 – 2 2 – 0
1997                      0 – 0 0 – 0
1998                2 – 2 1 – 1 2 – 0
1999                2 – 3 2 – 0 0 – 0
2000                      1 – 1 3 – 1
2001                      4 – 2 1 – 0
2002                      2 – 0 3 – 2
Name: Placar(es), dtype: object

In [84]:
def fix_placar(a_string):
    campeao = 0
    vice = 0
    while a_string.count(' – ') > 0:
        campeao += int(a_string[a_string.find(' – ') - 1])
        vice += int(a_string[a_string.find(' – ') + 3])
        a_string = a_string[a_string.find(' – ') + 4:]
    return campeao, vice
fix_placar('1 – 1 (pro) 6 – 5 (pen)')

(7, 6)

In [94]:
campeoes.loc[:2002]['Placar(es)'].apply(fix_placar)\
                                 .apply(pd.Series)\
                                 .rename(columns={0: 'gols camp', 1: 'gols vice'})

      gols camp  gols vice
Ano
1959          6          5
1960         11          3
1961          6          2
1962         10          6
1963          8          0
1964          4          1
1965          6          1
1966          9          4
1967          0          0
1967          6          3
1968          0          0
1968          6          2
1969          0          0
1970          0          0
1971          0          0
1972          0          0
1973          0          0
1974          2          1
1975          1          0
1976          2          0
1977          3          2
1978          2          0
1979          4          1
1980          3          3
1981          3          1
1982          2          1
1983          4          2
1984          1          0
1985          7          6
1986          8          7
1987          1          0
1988          2          1
1989          1          0
1990          2          0
1991          1          0
1992          5          2
1993          3          0
1994          4          2
1995          3          2
1996          2          2
1997          0          0
1998          5          3
1999          4          3
2000          4          2
2001          5          2
2002          5          2

In [95]:
pd.concat([campeoes.loc[:2002],
           campeoes.loc[:2002]['Placar(es)'].apply(fix_placar)\
                                            .apply(pd.Series)\
                                            .rename(columns={0: 'gols camp',
                                                             1: 'gols vice'})],
          axis=1).head()

,Campeão,Placar(es),Vice,3.º lugar,4.º lugar,gols camp,gols vice
Ano,,,,,,,
1959,Bahia,3 – 2 0 – 2 3 – 1,Santos,Grêmio,Vasco da Gama,6,5
1960,Palmeiras,3 – 1 8 – 2,Fortaleza,Fluminense,Santa Cruz,11,3
1961,Santos,1 – 1 5 – 1,Bahia,America,Náutico,6,2
1962,Santos,4 – 3 1 – 3 5 – 0,Botafogo,Internacional,Sport,10,6
1963,Santos,6 – 0 2 – 0,Bahia,Grêmio,Botafogo,8,0

In [0]:
tmp = pd.concat([campeoes.loc[:2002],
                 campeoes.loc[:2002]['Placar(es)'].apply(fix_placar)\
                                                  .apply(pd.Series)\
                                                  .rename(columns={0: 'gols camp',
                                                                   1: 'gols vice'})],
                axis=1)

In [101]:
tmp.groupby('Campeão')['gols camp'].sum()

Campeão
Atlético Mineiro        0
Atlético Paranaense     5
Bahia                   8
Botafogo                9
Corinthians            11
Coritiba                7
Cruzeiro                9
Flamengo               14
Fluminense              1
Grêmio                  5
Guarani                 2
Internacional           7
Palmeiras              24
Santos                 39
Sport                   1
São Paulo              12
Vasco da Gama           7
Name: gols camp, dtype: int64

In [103]:
tmp.groupby('Vice')['gols vice'].sum()

Vice
Atlético Mineiro     8
Bahia                2
Bangu                6
Botafogo             8
Bragantino           0
Corinthians          4
Cruzeiro             4
Flamengo             1
Fortaleza            5
Grêmio               1
Guarani              7
Internacional        1
Náutico              3
Palmeiras            0
Portuguesa           2
Santos              13
São Caetano          4
São Paulo            1
Vasco da Gama        2
Vitória              0
Name: gols vice, dtype: int64

In [106]:
pd.concat([tmp.groupby('Campeão')['gols camp'].sum(),
           tmp.groupby('Vice')['gols vice'].sum()],
          axis=1).sum(axis=1).sort_values(ascending=False)

Santos                 52.0
Palmeiras              24.0
Botafogo               17.0
Corinthians            15.0
Flamengo               15.0
São Paulo              13.0
Cruzeiro               13.0
Bahia                  10.0
Guarani                 9.0
Vasco da Gama           9.0
Atlético Mineiro        8.0
Internacional           8.0
Coritiba                7.0
Bangu                   6.0
Grêmio                  6.0
Atlético Paranaense     5.0
Fortaleza               5.0
São Caetano             4.0
Náutico                 3.0
Portuguesa              2.0
Fluminense              1.0
Sport                   1.0
Bragantino              0.0
Vitória                 0.0
dtype: float64

## Quem mais tomou gols em finais?

In [107]:
pd.concat([tmp.groupby('Campeão')['gols vice'].sum(),
           tmp.groupby('Vice')['gols camp'].sum()],
          axis=1).sum(axis=1).sort_values(ascending=False)

Santos                 34.0
Bahia                  20.0
Botafogo               19.0
Fortaleza              17.0
Corinthians            17.0
São Paulo              15.0
Vasco da Gama          14.0
Cruzeiro               12.0
Flamengo               12.0
Atlético Mineiro       10.0
Palmeiras              10.0
Guarani                 9.0
São Caetano             9.0
Bangu                   7.0
Náutico                 6.0
Coritiba                6.0
Grêmio                  5.0
Internacional           3.0
Vitória                 3.0
Portuguesa              2.0
Atlético Paranaense     2.0
Bragantino              1.0
Fluminense              0.0
Sport                   0.0
dtype: float64

# Agora vamos ver outra tabela, sobre a época dos pontos corridos.

In [119]:
dfs[20].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Pos,Equipes,Temp.,Pts,J,V,E,D,GP,GC,SG,%,1º,2º,3º,4º,R,Média,Melhor
1,1,São Paulo,15,977,590,276,149,165,893,655,+238,552,3,1,3,2,0,651,01 !1º
2,2,Cruzeiro,15,941,590,272,125,193,917,738,+179,531,3,1,1,1,0,627,01 !1º
3,3,Santos,15,919,590,256,151,183,902,713,+189,519,1,3,1,1,0,613,01 !1º
4,4,Corinthians,14,886,552,243,155,154,747,598,+149,535,4,0,1,1,1,631,01 !1º

In [121]:
corridos = dfs[20].copy()
corridos.columns = corridos.iloc[0]
corridos = corridos[1:]
corridos.head()

,Pos,Equipes,Temp.,Pts,J,V,E,D,GP,GC,SG,%,1º,2º,3º,4º,R,Média,Melhor
1,1,São Paulo,15,977,590,276,149,165,893,655,+238,552,3,1,3,2,0,651,01 !1º
2,2,Cruzeiro,15,941,590,272,125,193,917,738,+179,531,3,1,1,1,0,627,01 !1º
3,3,Santos,15,919,590,256,151,183,902,713,+189,519,1,3,1,1,0,613,01 !1º
4,4,Corinthians,14,886,552,243,155,154,747,598,+149,535,4,0,1,1,1,631,01 !1º
5,5,Internacional,14,849,552,237,136,179,738,632,+106,512,0,3,1,0,1,606,02 !2º

In [123]:
corridos['SG'] = corridos['SG'].astype(int)
corridos.sort_values(by='SG', ascending=False).head()

ValueError: ignored